$lightPurpleRose: #E5D6FF;
$mediumPurpleBabyShower: #B48AFF;
$mediumDarkPurpleGrace: #906ECC;
$darkPurpleEggplant: #5A457F;
$mediumGrayMetal: #726B7F;
$offWhite: #FFFEF2;
$feather: rgba(255,254,242,0.1);